.about {
  background-color: #fdfdfd;
  border: 20px solid #ecf0f1;
  padding: 15px;
  font-size: 16px;
  text-align: justify;
}

.apart_a1 {
  margin-top: -210px;
}

.babuska {
  text-align: center;
  padding-top: 15px;
}

body {
  background-color: #ecf0f1;
}

.border-uda {
  border-bottom: 1px solid;
  border-bottom-color: #2fa4e7;
  padding: 5px 0;
  margin: 5px;
}

.caption {
  text-align: center;
}

.copy {
  text-align: right;
}

.dobro {
  font-size: 60px;
  color: #ecf0f1;
  letter-spacing: 3px;
}

.facebook {
  color: #ecf0f1;
}

.flag {
  height: 50px;
}

footer {
  margin-top: 50px;
  background-color: #242a31;
  width: 100%;
  position: relative;
  margin-bottom: -40px;
  color: #ecf0f1;
}

#footer_stars {
  margin-left: 0px;
  margin-bottom: 5px;
}

.foot_kont {
  text-align: center;
  margin-top: 15px;
}

.footer_kontakt {
  margin-left: 15px;
  font-size: 16px;
}

#foot_gly {
  margin-left: 90px;
  margin-bottom: 20px;
}

.iz_kontakt {
  background-color: #fdfdfd;
  border: 15px solid #ecf0f1;
}

.kontakt {
  padding-top: 15px;
}

legend {
  border-bottom-color: #2fa4e7;
}

.li_izkon {
  font-weight: 600;
}

.mail {
  background-color: #fdfdfd;
  border: 15px solid #ecf0f1;
}

.map {
  padding-top: 50px;
}

.nav.navbar-nav {
  float: right;
}

.navbar-fixed-top .navbar-collapse,
.navbar-fixed-bottom .navbar-collapse {
  max-height: 370px;
}

.naslov {
  margin-left: 20px;
}

.panel-footer {
  background-color: #ecf0f1;
  color: #242a31;
  height: 40px;
}

span.glyphicon-home,
span.glyphicon-phone-alt,
span.glyphicon-earphone,
span.glyphicon-thumbs-up,
span.glyphicon-ok {
  font-size: 1.2em;
  margin-top: 10px;
}

.subm_res {
  margin-bottom: 10px;
}

.tekst {
  margin-bottom: 425px;
}

.uda {
  background-color: #fdfdfd;
  padding-bottom: 5px;
  padding: 20px;
}

.weather {
  margin-top: 15px;
  text-align: center !important;
}

@media (max-width: 370px) {
  .navbar-brand {
    padding: 15px 0;
  }
  .navbar-toggle {
    margin-right: 0;
  }
  .brand-de {
    font-size: 16px;
  }
}

@media (max-width: 500px) {
  .atm {
    font-size: 25px;
  }
}

@media (max-width: 999px) {
  .apart_a1 {
    margin-top: 0;
  }
  .copy {
    text-align: center;
  }
  .dobro {
    font-size: 25px;
  }
  .foot {
    text-align: center;
  }
  #footer_stars {
    margin-left: 0px;
  }
  #foot_gly {
    margin-left: 0px;
  }
  .img-responsive {
    image-rendering: -moz-crisp-edges;
    image-rendering: -o-crisp-edges;
    image-rendering: -webkit-optimize-contrast;
    image-rendering: crisp-edges;
    -ms-interpolation-mode: nearest-neighbor;
  }
  .nav.navbar-nav {
    margin-left: 0px;
    float: left;
  }
  .weather {
    margin-bottom: 20px;
  }
  .carousel-inner > .item > img,
  .carousel,
  .carousel-inner {
    height: 450px;
  }
}

@media (min-width: 999px) and (max-width: 1175px) {
  .navbar-brand {
    font-size: 13px;
  }
  .nav.navbar-nav {
    float: none;
    font-size: 12px;
    margin-left: 5px;
    margin-right: -15px;
    padding-right: 0px;
  }
}
